* {
    margin: 0;
    padding: 0;
}
.custom-container-fluid {
    padding: 40px;
  }

body {
    background: rgb(244,228,232);
    background: linear-gradient(156deg, rgba(244,228,232,0.34217436974789917) 16%, rgba(219,217,133,0.6643032212885154) 53%, rgba(244,173,132,0.8211659663865546) 89%);
}

ul {
    list-style: none;

}
.order-section {
    margin-left: 330px;
   
}
.header {
    border-radius: 35px;
    background: rgb(224,80,114);
    background: linear-gradient(217deg, rgba(224,80,114,1) 12%, rgba(230,90,117,1) 44%, rgba(235,138,82,1) 93%);
    padding: 9px;
    margin-left: 20px;
    margin-bottom: 14px;
    width: 101%;
    text-align: center;
}
.menu-dashboard {
    height: 140px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;    
}
.price_description {
    font-size: 140%;
}
.menu-dashboard img {
    width: 95%;
    height: 100%;
}
.buttons {
    border-radius: 25px;
    border-color: #e65a75;
    outline: none;
    padding: 15px 5px;
    margin-left: 75%;
    width: 25%;
    background: none;
    cursor: pointer;
    transition: color 0.7s linear;
    position: relative;

}

.buttons:hover {
    color: #fff;
    border-radius: 25px;

}
.buttons::before {
    border-radius: 25px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e65a75;
    z-index: -1;
    transition: transform 0.6s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.buttons:hover::before {
    border-radius: 25px;
    transform: scaleX(1);
}

#pay_button {
    margin-left: 75%;
}
.menu-section {
    margin-top: 50px;
}

.added_order {
    background: rgba( 32, 26, 26, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 80vh;
    height: 90vh;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 200%;
    
}

/*Input area css*/

select {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    height: 70px;
    font-size: 150%;
    border-radius: 35px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    height: 70px;
    font-size: 150%;
    border-radius: 35px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
    font-size: 160%;
    
}